<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>title goes here</title>
</head>

<body>
    <p>i: {{.}}</p>
    <p>double and square: {{. | fdbl | fsq}}</p>
    <p>double and square and squareRoot: {{. | fdbl | fsq | fsqrt}}</p>
</body>

</html>